<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <div class='well'>
      Please Sign In
    </div>
    <%= render partial: "shared/error_display", locals:{errors: flash[:errors]} %>
    <%= render partial: "signin_form", locals:{session: flash[:data]} %>
    <p>Not yet a user? Sign up <%= link_to("here", new_user_path) %>.</p>
  </div>
</div>