<div class='entry-form-group nested-form-group well'>
  <%= render partial: "shared/error_display", locals:{errors: errors} %>
  <%= form_tag("/task_entries/#{task_entry.id}", method: "patch", class:"nested-patch-form form-horizontal") do %>
    <%= render partial: "task_entry_form_fields", locals:{task_entry:task_entry} %>
  <% end %>

</div>