<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <div class='well'>
      <p>Update Task Entry</p>
    </div>
    <%= render partial: "shared/error_display", locals:{errors: flash[:errors]} %>
    <%= form_tag("/task_entries/#{@task_entry.id}", method: "patch") do %>
      <%= render partial: "task_entry_form_fields", locals:{task_entry:@task_entry} %>
      <div class='from-group'>
        <input name="commit" type="submit" value="Edit" />
      </div>
    <% end %>
    <p>No longer relevant? <%= link_to "Remove Task Entry", task_entry_path(@task_entry), method: :delete, data: {confirm: 'This action is final, please confirm'} %></p>
  </div>
</div>



