<div class='well'>
  <p>Update Task Entry</p>
</div>
<%= render partial: "edit_entry_form", locals:{errors: flash[:errors], task_entry: @task_entry} %>
<br>
<br>
<p>No longer relevant? <%= link_to "Remove Task Entry", task_entry_path(@task_entry), method: :delete, data: {confirm: 'This action is final, please confirm'} %></p>