<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <div class='well'>
      <p>New Task Entry</p>
    </div>
    <%= render partial: "new_entry_form", locals:{errors: flash[:errors], task:@task, task_entry: @task_entry} %>
  </div>
</div>