<div class='well'>
  <p>
    <%= @task_entry.time_display %>
  </p>
</div>
<p>
  <%= link_to "<< Task", task_path(@task_entry.task) %> - 
  <%= link_to "Edit Entry", edit_task_entry_path(@task_entry) %>
</p>
<p><%= @task_entry.note %></p>