<div class='task-form-group nested-form-group'>
  <%= render partial: "shared/error_display", locals:{errors: errors} %>
  <%= form_for([project, task], html: {class: "nested-post-form form-horizontal"}) do |f| %>
    <%= render partial: "task_form_fields", locals:{f:f} %>
  <% end %>
</div>