<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <div class='well'>
      <p>Update Task</p>
    </div>
    <%= render partial: "edit_task_form", locals:{errors: flash[:errors], task: @task } %>
    <p>No longer a thing? <%= link_to "Remove Task", task_path(@task), method: :delete, data: {confirm: 'This action is final, please confirm'} %></p>
  </div>
</div>