<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <div class='well'>
      New Task
    </div>
    <%= render partial: "new_task_form", locals:{errors: flash[:errors], project:@project, task: @task} %>
  </div>
</div>