<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <h2><%= @task.task_name %></h2>
    <p>Assigned to <%= @task.user.username %></p>
    <%= link_to "Edit Task", edit_task_path(@task) %>

    <div class='well'>
      <p>Task Entries</p>
    </div>
    <ul class='list-group'>
      <% @task.task_entries.each do |task_entry| %>
        <%= render partial: "task_entries/task_entry_line_item", locals:{task_entry:task_entry} %>
      <% end %>
    </ul>
  </div>
</div>