<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <div class='well'>
      Update Your Account Information (password must be entered to submit)
    </div>
    <%= render partial: "shared/error_display", locals:{errors: flash[:errors]} %>
    <%= render partial: "user_form", locals:{user: @user} %>
  </div>
</div>