<div class='well'>
  <p>Update Your Account Information (password must be entered to submit)</p>
</div>
<%= render partial: "shared/error_display", locals:{errors: flash[:errors]} %>
<%= render partial: "user_form", locals:{user: @user} %>

<p>No longer need this account? <%= link_to "Delete Account", customer_path(@user), method: :delete, data: {confirm: 'This action is final, please confirm'} %></p>