<%#= render partial: "shared/title_tab", locals:{tab_text: "my title"} %>

<%#= render partial: "shared/left_gutter", locals:{content:{text:"tag left", tag:"h1"}} %>
<%#= render partial: "shared/right_gutter", locals:{content: {html: "<p>html right</p>"}} %>
<%#= render partial: "shared/right_gutter", locals:{content: {text:"no tag"}} %>
