<div class='well'>
  <p>New Project</p>
</div>
<%= render partial: "shared/error_display", locals:{errors: flash[:errors]} %>
<%= form_for([@customer, @project], html:{class:"form-horizontal"}) do |f| %>
  <%= render partial: "project_form_fields", locals:{f:f} %>
<% end %>