<!DOCTYPE html>
<html>
<head>
  <title>
    Welcome CmmProject
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row layout-row' id='layout-row'>
      <div class='col-xs-6 center-gutter col-xs-offset-3' id='layout-sessions'>
        <%= yield %>
      </div>      
    </div>
  </div>

</body>
</html>
